extend layout
block body
  .container
    form.well.well-small
      #nav-modifiers.row
        .span3
          label.radio.inline
            input(type="radio", name="type", value="nav-tabs", checked=true)
            |  nav-tabs
          each name in ["nav-pills", "nav-list"]
            label.radio.inline
              input(type="radio", name="type", value=name)
              |  #{name}
        .span6
          each name in ["nav-stacked", "pull-right"]
            label.checkbox.inline
              input(type="checkbox", value=name)
              |  #{name}
      #tabbable-modifiers.row
        .span9
          label.radio.inline
            input(type="radio", name="tabs", value="", checked=true)
            |  Default Position
          each name in ["tabs-left", "tabs-right"]
            label.radio.inline
              input(type="radio", name="tabs", value=name)
              |  #{name}
    .tabbable#stooges
      ul.nav.nav-tabs
        li.active: a(href="#moe", data-toggle="tab") Moe
        li: a(href="#larry", data-toggle="tab") Larry
        li: a(href="#curly", data-toggle="tab") Curly
      .tab-content
        .tab-pane.active#moe
          h1 Moe Howard
          img(src="images/moe.jpg")
        .tab-pane#larry
          h1 Larry Fine
          img(src="images/larry.jpg")
        .tab-pane#curly
          h1 Curly Howard
          img(src="images/curly.jpg")
  != js("ex6")